
.aboutinfo__container {
    background-color: rgba(255,255,255, 0.1);
    margin-top: 6rem;
    width: 100vw;
}

.about__wrapper {
    padding-top: 6rem;
    padding-bottom: 5rem;
    width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.about__subtitle {
    margin-bottom: 1rem;
    color: var(--color-secondary);
}

.about__title {
    margin-bottom: 1rem;
    margin-top: .2rem;
}

.about__desc {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 3rem;
}

.about__image {
    border-radius: 2rem;
    border: .5rem solid rgba(255,255,255, 0.2);
    transition: all .7s ease;
}


.about__image:hover {
    filter: saturate(0);
    transition: all .7s ease;
}

@media screen and (min-width: 300px) {
    .about__wrapper {
       display: flex;
       flex-direction: column;
       padding-bottom: 3rem;
    }

    
    .aboutinfo__container {
        background-color: rgba(255,255,255, 0.1);
        margin-top: 3rem;
        width: 100vw;
    }


}