

.footer__container {
    width: 100vw;
    /*height: 50vh;*/
}

.footer__wrapper {
    width: 80vw;
    margin-inline: auto;
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.footer-col-1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer-col-1__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.footer__logo {
    width: 20rem;
}

.footer__details {
    font-size: 1rem;
    text-align: justify;
    color: rgba(255, 255, 255, 0.6);
}


.quicklinks {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    padding-left: 3rem;
}

.links {
    color: rgba(255, 255, 255, 0.6);
    transition: all .5s ease;
}

.footer-col-2__content {
    padding-left: 3rem;
}

.links:hover {
    color: #fff;
    transition: all .5s ease;
}

.socialmedia {
    color: var(--color-secondary);
}


.social__content {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.social__links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    border: 2px solid transparent;
    color: var(--color-secondary);
    transition: all .5s ease;
}

.social__links svg {
    color: var(--color-secondary);
}

.social__links:hover {
    background-color: transparent;
    color: var(--color-secondary) ;
    border: 2px solid #fff;
    transition: all .5 ease;
}


.socialmedia__contact {
    margin-top: 2rem;
    color: var(--color-secondary);
}

.contact__details {
    margin-top: .5rem;
}


.address {
    display: flex;
}

.address span {
    font-size: 2rem;
    padding-right: .5rem;
    color: #fff;
}



.address__main {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}


.tel span {
    color: #fff;
    font-size: 2rem;
    padding-right: .5rem;
}


.tel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    display: flex;
}





@media screen and (max-width: 300px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-bottom: 3rem;
        margin-top: 15rem;
        margin-bottom: -10rem;
    }

    .footer__wrapper {
        padding-bottom: 3rem;
    }

    .footer-col-3 {
        padding-bottom: 3rem;
       margin-inline: auto;
    }

    .links {
        text-align: center;
    }
} 

@media screen and (max-width: 700px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-bottom: 3rem;
        margin-top: 15rem;
        margin-bottom: -10rem;
    }

    .footer__wrapper {
        padding-bottom: 7rem;
        padding-top: -8rem;
        margin-top: -1rem;
    }

    .footer-col-3 {
        padding-bottom: 3rem;
       margin-inline: auto;
    }

    .links {
        text-align: center;
    }

    .footer__logo {
        width: 15rem;
        margin-inline: auto;
        margin-bottom: .2rem;
    }

    .footer__details {
        text-align: center;
        margin-top: .1rem;
    }

    .footer-col-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }

    .socialmedia__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }

    .contact__details {
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
} 