*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


:root {
    --primary-hue: 210;
    --gray-hue: 240;
    --color-primary: hsl(var(--primary-hue), 100%, 50%);
    --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
    --color-secondary: #FF00FF;
    --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
    --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
    --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
    --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
    --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
    --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
    --lfweek-primary: #000000;

    /* Container Width */

    --container-width-lg: 80%;
    --container-width-md: 90%;

    /* Transition */

    --transition: all 500 ease;
}


/* General Styles */

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-gray-200);
    line-height: 1.7;
    overflow-x: hidden;
    background: var(--lfweek-primary);
}

.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    color: var(--color-gray-100);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: var(--color-gray-100);
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}


.btn-primary {
    background-color: var(--color-secondary);
    color: #fff;
    padding: .8rem 1.2rem;
    font-weight: 700;
    outline: none;
    border: 2px solid transparent;
    font-size: 1rem;
    border-radius: .3rem;
    cursor: pointer;
    pointer-events: auto;
    z-index: 2;
    transition: all .7s ease;
}

.btn-primary:hover {
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    transition: all .7s ease;
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: #fff;
    padding: .8rem 1.2rem;
    font-weight: 700;
    outline: none;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .3rem;
    cursor: pointer;
    pointer-events: auto;
    z-index: 2;
}